# Copyright (c) 2011, Code Aurora Forum. All rights reserved.
# Copyright (c) 2011-2012, LG Electronics Inc. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

####################################
#                                  #
#        Register service          #
#                                  #
####################################
service lgssl_odm /vendor/bin/lg_dm_router --odm
    class late_start
    user system
    group vendor_qdss sdcard_r sdcard_rw everybody diag
    disabled
    oneshot

service lgssl_odm_k /vendor/bin/lg_dm_router --odm --kill --cmdline=44
    user system
    group vendor_qdss sdcard_r sdcard_rw everybody
    disabled
    oneshot

service lgssl_odm_s /vendor/bin/lg_dm_router --odm --cmdline=0
    user system
    group vendor_qdss sdcard_r sdcard_rw everybody
    disabled
    oneshot

service lgssl_odm_t /vendor/bin/lg_dm_router --odm --cmdline=1
    user system
    group vendor_qdss sdcard_r sdcard_rw everybody
    disabled
    oneshot

service lgssl_odm_c /vendor/bin/lg_dm_router --odm --cmdline=2
    user system
    group vendor_qdss sdcard_r sdcard_rw everybody
    disabled
    oneshot

service lgssl_odm_g /vendor/bin/lg_dm_router --odm --cmdline=10
    user system
    group vendor_qdss sdcard_r sdcard_rw everybody
    disabled
    oneshot

service lgssl_odm_de /vendor/bin/lg_dm_router --odm --cmdline=100
    user system
    group vendor_qdss sdcard_r sdcard_rw everybody
    disabled
    oneshot

service lgssl_odm_dd /vendor/bin/lg_dm_router --odm --cmdline=101
    user system
    group vendor_qdss sdcard_r sdcard_rw everybody
    disabled
    oneshot

# for QDSS from "android/device/qcom/common/rootdir/etc/init.qcom.test.rc"
# Coresight early boot service
service modem_log_precond /vendor/bin/sh /vendor/bin/modem_log_precond.sh
    class core
    user root
    disabled
    oneshot

service modem_log_postproc /vendor/bin/sh /vendor/bin/modem_log_postproc.sh
    class core
    user root
    disabled
    oneshot

####################################
#                                  #
#    Register property service     #
#                                  #
####################################
# First kill command
on property:persist.product.lge.service.odm_log.enable=false
    setprop persist.vendor.lge.service.odm_log.enable ${persist.product.lge.service.odm_log.enable}
    start modem_log_postproc
    start lgssl_odm_k

# ODM enable
on property:persist.product.lge.service.odm_log.enable=true
    setprop persist.vendor.lge.service.odm_log.enable ${persist.product.lge.service.odm_log.enable}
    start modem_log_precond
    start lgssl_odm

# Enabled debug log
on property:product.lge.debug.odm_log.enable=true
    start lgssl_odm_de

on property:product.lge.debug.odm_log.enable=false
    start lgssl_odm_dd

# ODM ctrl
on property:product.lge.debug.odm_log.tx_mode=stream
    start lgssl_odm_s

on property:product.lge.debug.odm_log.tx_mode=threshold
    start lgssl_odm_t

on property:product.lge.debug.odm_log.tx_mode=circular
    start lgssl_odm_c

on property:product.lge.debug.odm_log.get_data=*
    start lgssl_odm_g

# Remove ADPL logs
on property:persist.product.lge.debug.odm_log.adpl_rm=*
    setprop persist.vendor.lge.service.odm_log.adpl_rm ${persist.product.lge.debug.odm_log.adpl_rm}

# For ADPL Enable/Disable
on property:persist.product.lge.debug.odm_log.adpl=*
    setprop persist.vendor.lge.service.odm_log.adpl ${persist.product.lge.debug.odm_log.adpl}

# For QDSS Enable/Disable
on property:persist.product.lge.debug.odm_log.qdss=*
    setprop persist.vendor.lge.service.odm_log.qdss ${persist.product.lge.debug.odm_log.qdss}
